<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% if pageType == 'home' %}
		<title>{{ settings.siteName }} - Web Developer</title>
  {% else %}
    <title>{{ title | safe }} - {{ settings.siteName }}</title>
	{% endif %}

  <meta name="description" content="{{ settings.description }}">

  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="apple-touch-icon" href="/images/site-icon.png">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for Scott Smith's Journal" href="/feed.xml" />

  <link rel="prelaod" href="/fonts/OpenSans-Regular-webfont.woff" as="font" type="font/woff" />
  <link rel="prelaod" href="/fonts/OpenSans-Bold-webfont.woff" as="font" type="font/woff" />
  <link rel="prelaod" href="/fonts/Parkly-Regular.woff" as="font" type="font/woff" />

	<link rel="stylesheet" type="text/css" href="/css/sts.css" />

  {% block head %}
  {% endblock %}

</head>
<body {% if pageType == 'home' %}class="page-home"{% endif %}>
  <div class="hide" role="none">
    {% include "./partials/icon-sprite.svg" %}
  </div>

  <div id="site" class="row row-expanded row-stretch">

    {% include "partials/site-header.njk" %}
    
    <main class="col-m-8 col-xl-6 site-content">
      {% block content %}
      {% endblock content %}
    </main>
    
    <div class="site-border" role="none"></div>

  </div>

  <script src="/js/main.js"></script>

</body>
</html>