{% extends 'base.njk' %}

{% set pageType = 'home' %}

{% block content %}

<main class="row padding-x-3 row-center home-section">
	<div class="col-s-12 col-m-8">
		{{ content | safe }}
	</div>
</main>

{% endblock %}