{% extends 'base.njk' %}

{% block content %}
	<section class="container">
		<div class="col-12">
			{{ content | safe }}
		</div>
	</section>

{% endblock %}

{% block endBody %}
	<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
		if (!user) {
			window.netlifyIdentity.on("login", () => {
			document.location.href = "/admin/";
			});
		}
		});
	}
	</script>
{% endblock %}