{% extends 'base.njk' %}

{% block content %}

{% sectionHeader 'Journal','blog-header' %}
	<nav class="blog-nav">
		<ul class="horizontal-list">
			<li>
				<a href="/journal">Latest Posts</a>
			</li>
			<li>
				<a href="#rss">
					{% icon 'icon-rss','icon-size-1 icon-inline' %}
					RSS Feed
				</a>
			</li>
		</ul>
	</nav>
{% endsectionHeader %}




<main class="row padding-x-3 blog-post padding-y-2">
	<header class="col-s-12 blog-post-meta margin-bottom-3">
        <h1 class="margin-top-0 margin-bottom-1">{{ title | safe }}</h1>
        <time class="blog-post-time">Posted {% timestamp page.date.toUTCString() %}</time>
    </header>

    <article class="col-s-12 blog-post-content">
        {{ content | safe }}
    </article>
</main>


{% endblock %}