{% extends 'base.njk' %}

{% block content %}

	<section class="journal__post">
		<header class="journal__postMeta">
			<h1 class="journal__postTitle">{{ title | safe }}</h1>
			<time class="journal__postDate">Posted {% timestamp date %}</time>
		</header>

		<div class="journal__postContent">
			{{ content | safe }}
		</div>
	</section>

{% endblock %}