{% extends 'base.njk' %}

{% block content %}

	{% include 'partials/journal-nav.njk' %}

	<article class="journal__post">
		<header class="journal__postMeta">
			<h1 class="journal__postTitle">{{ title | safe }}</h1>
			<time class="journal__postDate">Posted {% timestamp date %}</time>
		</header>

		<div class="journal__postContent page__content page__contentContainer">
			{{ content | safe }}
		</div>
	</article>

{% endblock %}