{% extends 'base.njk' %}

{% block content %}

<h1 class="page-title">{{ title | safe }}</h1>

{{ content | safe }}

{% for item in collections.orderedPortfolios | reverse %}
	<section class="listing-item">	
		<div class="listing-content">
			<h2><a href="{{ item.url }}">{{ item.data.title | safe }}</a></h2>

			{{ item.data.excerpt }}

			<div class="row row-spaced row-top margin-x-1">
				<ul class="list-inline tag-list margin-bottom-3">
					{% for tag in item.data.tools %}
						<li>{{ tag }}</li>
					{% endfor %}
				</ul>
				
				<a href="{{ item.url }}" class="btn">View Case Study</a>
			</div>
		</div>
		<aside class="listing-image">
			{% for img in item.data.image %}
				{% image img.src, 'large', 'img-'+loop.index, img.alt | safe %}
			{% endfor %}
		</aside>
	</section>
{% endfor %}

{% endblock %}