@import '_parts/_prepend';
@import '_parts/webfonts';
@import 'lodgepole/lodgepole';

body {
	background: var(--body-bg);
	color: var(--body-color);
	font-family: var(--body-font);
	font-size: 100%;
    line-height: 1.75;
    padding: 0;
	margin: 0;

	@media (min-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100vh;       
    }
}


#site {
    transition: 300ms linear all;
}

.page-animate-in {
    opacity: 1;
}

.page-animate-out {
    opacity: 0;
}


@import '_parts/grid';
@import '_parts/colors';
@import '_parts/typography';
@import '_parts/header';


@import '_parts/nav';
@import '_parts/content';
@import '_parts/portfolio';

@import '_parts/home';
@import '_parts/blog';
@import '_parts/footer';


.site-border {
    position: fixed;
    height: 100vh;
    width: 100vw;
    border: 1rem var(--color1) solid;
    pointer-events: none;
    z-index: 1000;

    @media (prefers-color-scheme: dark){
        border-color: var(--color2);   
    }
}