<header class="site-header">
	<div class="row row-spaced row-vertical-center row-no-wrap padding-x-2 site-masthead">

		<a href="<?php bloginfo('url'); ?>" class="col-auto site-title" title="<?php bloginfo('name'); ?>" aria-label="<?php bloginfo('name'); ?>">
			icon goes here
		</a>

	</div>	
</header>
