<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% if pageType == 'home' %}
		<title>Scott Smith - Web Developer</title>
  {% else %}
    <title>{{ title | safe }} - Scott Smith</title>
	{% endif %}

  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="apple-touch-icon" href="/images/site-icon.png">
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for Scott Smith's Journal" href="/feed.xml" />

	<link rel="stylesheet" type="text/css" href="/css/sts.css" />

  {% block head %}
  {% endblock %}

</head>
<body {% if pageType == 'home' %}class="page-home"{% endif %}>
  <div class="hide" role="none">
    {% include "assets/icon-sprite-general.svg" %}

    {% if useTagIcons == true %}
      {% include "assets/icon-sprite-home.svg" %}
    {% endif %}
  </div>

  {% include "partials/global/site-header.njk" %}
  
  {% block content %}
  {% endblock content %}
  
  {% include "partials/global/site-footer.njk" %}

</body>
</html>