<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% if pageType == 'home' %}
		<title>Scott Smith - Web Developer</title>
  {% else %}
    <title>{{ title | safe }} - Scott Smith</title>
	{% endif %}

	<link rel="stylesheet" type="text/css" href="/css/sts.css" />
	
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {% block head %}
  {% endblock %}

</head>
<body>
  <div class="hide" role="none">
    {% include "assets/icon-sprite-general.svg" %}

    {% if pageType == 'home' %}
      {% include "assets/icon-sprite-home.svg" %}
    {% endif %}
  </div>

  {% include "partials/global/site-header.njk" %}
  {% block content %}
  {% endblock content %}
  {% include "partials/global/site-footer.njk" %}
  {% block foot %}
  {% endblock %}


  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>
</html>