{% extends 'layouts/base.njk' %}

{% block content %}

{% sectionHeader 'Journal','blog-header' %}
	<nav class="blog-nav">
		<ul class="horizontal-list">
			<li>
				<a href="/journal">Latest Posts</a>
			</li>
			<li>
				<a href="#rss">
					{% icon 'icon-rss','icon-size-1 icon-inline' %}
					RSS Feed
				</a>
			</li>
		</ul>
	</nav>
{% endsectionHeader %}

<main class="row padding-bottom-3">

	{% include "partials/global/pagination.njk" %}

	{% for post in posts %}
		<article class="col-s-12 margin-x-3 padding-bottom-3 blog-post blog-post-listing-item">
			{% blogTitle 'h2', '', post %}
			{{ post.templateContent | safe }}
		</article>
	{% endfor %}

	{% include "partials/global/pagination.njk" %}

</main>

{% endblock %}