{% extends 'layouts/base.njk' %}

{% block content %}

{% sectionHeader 'Journal','blog-header' %}
	<nav class="blog-nav">
		<ul class="horizontal-list">
			<li>
				<a href="/journal">Latest Posts</a>
			</li>
			<li>
				<a href="/feed.xml">
					{% icon 'icon-rss','icon-size-1 icon-inline' %}
					RSS Feed
				</a>
			</li>
		</ul>
	</nav>
{% endsectionHeader %}

<main class="row padding-bottom-3 blog-page-content">

	{% include "partials/global/pagination.njk" %}

	{% for post in posts %}
		<article class="col-s-12 margin-x-3 padding-2 blog-post blog-post-listing-item">
			<header class="margin-bottom-2">
				{% blogTitle 'h2', 'blog-post-listing-title margin-top-0 margin-bottom-1', post %}
				<time class="blog-post-time">Posted {% timestamp page.date.toUTCString() %}</time>
			</header>
			
			<div class="blog-post-content">
				{{ post.templateContent | safe }}

				{% if post.data.url !== undefined %}
					<p><a href="{{ post.data.url }}" class="btn">Read This Link</a></p>
				{% endif %}
			</div>
		</article>
	{% endfor %}

	{% include "partials/global/pagination.njk" %}

</main>

{% endblock %}