{% extends 'layouts/base.njk' %}

{% set pageType = 'home' %}

{% block content %}
<main>
	<section class="row padding-x-3">
		<div class="col-s-12 col-m-8">

			{{ content | safe }}

		</div>
		<div class="col-s-12 col-m-4">
				
			<h3 class="margin-top-0">What I Work On</h3>

			<ul class="icon-grid">
				{% for item in app_tags.items %}
					<li aria-label="{{ item.title }}">{% icon item.icon, 'icon-size-3' %}</li>
				{% endfor %}
			</ul>

		</div>
	</section>

	<section class="row padding-bottom-3">

		<div class="col-s-12">
			<h2>Featured Work</h2>

			<ul class="featured-grid">
				{% for item in collections.portfolio %}
					{% if loop.index < 4 %}         
					<li>
						<a href="{{ item.url }}" class="featured-grid-item" aria-label="{{ item.data.title }}">
							<img src="{{ item.data.image }}" alt="" width="400" height="400">
							<header role="presentation" id="{{ item.fileSlug }}">{{ item.data.title }}</header>
						</a>
					</li>
					{% endif %}
				{% endfor %}
            </ul>

		</div>

	</section>

	<section class="row padding-bottom-5">
		<div class="col-s-12">
			<h2>Latest from the Journal</h2>
			
			{% for item in collections.posts | reverse %}
				{% if loop.index == '1' %}
					{% blogTitle 'h3','',item %}
					<p>{% cleanString item.data.content.substring(0,280) %}...</p>
				{% endif %}
			{% endfor %}

			<a href="/journal" class="btn margin-top-1">Read the Journal</a>

		</div>
	</section>


</main>
{% endblock %}