{% extends 'layouts/base.njk' %}

{% block content %}

{% sectionHeader title,'page-header' %}
{% endsectionHeader %}




<main class="row padding-x-3 page-content">
	<div class="col-s-12">
		{{ content | safe }}
	</div>
</main>


{% endblock %}