.skip-links {
    display: none;
}



body {
    background-color: var(--page-bg);
    color: var(--page-color);
    font-family: var(--body-font);
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2);
}

a {
    color: var(--link-color);
}

// grid system
.container {
    width: 100%;
    max-width: var(--page-width);
    margin: var(--gutter) auto;

}