.skip-links {
    display: none;
}



body {
    background-color: var(--page-bg);
    color: var(--page-color);
    font-family: var(--body-font);
    padding-left: calc(var(--gutter) * 2);
    padding-right: calc(var(--gutter) * 2);
}

a {
    color: var(--link-color);
}

.btn {
    border: 2px solid var(--link-color);
    padding: calc(var(--gutter) / 2) var(--gutter);
    display: inline-block;
    text-decoration: none;
    transition: 100ms ease-in-out all;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--body-font);

    &:hover {
        background-color: var(--link-color);
        color: var(--page-bg);
    }
}

// grid system
.container {
    width: 100%;
    max-width: var(--page-width);
    margin: var(--gutter) auto;

}