.header {

}

    .header__container {
        display: flex;
        justify-content: space-between;
    }

    .header__siteTitle {
        
    }

    .header__nav {

    }

    .header__navList {
        display: flex;
        gap: var(--gutter);
    }
