:root {

    // color types
    --color1: var(--deep-blue);
    --color2: var(--orange);
    --color3: var(--bright-gold);
    --color4: var(--olive);
    --highlight: var(--lightblue);

    // colors

    --seablue: #116D9C;
    --lightblue: #1a9fe6;
    --deep-blue: #0d2c5a;
    --orange: #FA5900;
    --gold: #ecbd62;
    --bright-gold: #fcbe41;
    --salmon: #d95953;
    --teal: #578c95;
    --olive: #454b43;
    --sand: #F1EEE9;

    --lightgray: #ebebeb;
    --midgray: #b1b1b1;
    --darkgray: #333;
    --gray: #2d2d2d;

    --body-color: var(--darkgray);
    --body-bg: var(--sand);

    --link-color: var(--color2);
    --heading-color: var(--color1);

    
    // fonts
    --primary-font: "Parkly", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
    --body-font: var(--secondary-font);

    @media (prefers-color-scheme: dark){
        --body-bg: var(--color1);
        --body-color: var(--sand);
        --heading-color: var(--sand);
    }

}

$navy: #102046;
$orange: #e6621a;
$teal: #5edd9e;
$lightgray: #ebebeb;
$midgray: #b1b1b1;
$darkgray: #333;
$lightblue: #1a9fe6;

$color1: $navy;
$color1-dark: darken($color1,5%);
$color1-light: lighten($color1,15%);

$highlight: $lightblue;
$color2: $orange;
$color-bg: $lightgray;
$body-color: $darkgray;
$link-color: $orange;

$gray: #2d2d2d;

// fonts

$primary-font: "Lora", serif;
$secondary-font: "Lato", sans-serif;
$body-font: $secondary-font;



// convert EMs

@function em($size){
	@return #{$size/16}em;
}

@function rem($size){
	@return #{$size/16}em;
}


// styles

@mixin blue-waves-bg {
	background-color: var(--color1);
    background-image: url('../images/waves.svg');
    background-size: 100px auto;
}

@mixin light-waves-bg {
	background-color: var(--midgray);
    background-image: url('../images/waves-light.svg');
    background-size: 100px auto;
}

@mixin chevron-pattern {
    background-color: var(--color1);
    background-image: url('../images/chevron-pattern.svg');
    background-size: auto 120px;
}