.blog-post-listing-item {
	border-bottom: 1rem solid rgba(black,0.1);

	[data-theme="dark-mode"] & {
		border-color: var(--seablue);
	}
}


.blog-post-listing-title {
	a:hover {
		text-decoration: none;
		color: var(--lightblue);
	}
}

.blog-post-time {
	font-size: rem(13);
	color: var(--midgray);
}


.blog-post-content {
	blockquote {
		background-color: white;
		margin: 2rem 0;
		padding: 1rem;
		border-left: 0.5rem solid var(--color2);
		font-style: italic;

		[data-theme="dark-mode"] & {
			background-color: var(--seablue);	
		}
	}
}


.pagination {
	.svg-icon {
		fill: var(--color2);
		margin-right: 0.5ch;
		vertical-align: middle;
	}
}