
.blog-nav {
    margin-top: 1rem;

    a {
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
        line-height: 1em;
        padding: .25rem;

        &:hover {
            background-color: var(--color2);
            color: white;
        }
    }
}

.blog-link-icon {
    line-height: 1em;
    vertical-align: baseline;
    color: var(--color1);

    @media (prefers-color-scheme: dark){
        color: white;
    }
}

.blog-post-listing-item {
    &::after {
        content: '';
        display: block;
        @include light-waves-bg;
        height: 1em;
        margin-top: 3em;

        @media (prefers-color-scheme: dark) {
            @include blue-waves-bg;
        }
    }
}

.blog-post {
    h1 {
        color: $body-color;
    }

    blockquote {
        margin: 2rem 0;
        padding: 1rem 1rem 1rem 4rem;
        position: relative;
        background-color: rgba(black,0.1);

        p {
            font-size: rem(18);
        }
        
        p:last-of-type {
            margin-bottom: 0;
        }

        &:before {
            display: block;
            content: '';
            @include blue-waves-bg;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 1rem;
        }
    }

    @media (prefers-color-scheme: dark){
        h1 { color: white; }   
    }
}



.pagination {
    .svg-icon {
        margin: 0 1ch;
        fill: var(--color1);

        @media (prefers-color-scheme: dark){
            fill: white;
        }
    }
}