
.blog-nav {
    margin-top: 1rem;

    a {
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
        line-height: 1em;
        padding: .25rem;

        &:hover {
            background-color: var(--color2);
            color: white;
        }
    }
}

.blog-post-listing-title {
    font-size: rem(24);
    background-color: var(--color4);
    color: var(--color1);

    margin: 0 -1rem 1rem -1rem;
    
    display: flex;
    align-items: center;

    > a {
        color: white;
        display: block;
        padding: 1rem;
        
        &:hover {
            text-decoration: none;
        }
    }

    &:hover {
        background-color: var(--color2);
    }
    
    @media (min-width: 768px){
        font-size: rem(36);
    }
}

.blog-link-icon {
    line-height: 1em;
    vertical-align: baseline;
    color: var(--color1);
}




.blog-post {
    background-color: white;

    h1 {
        color: var(--color4);
    }

    blockquote {
        margin: 2rem 0;
        padding: 1rem 1rem 1rem 4rem;
        position: relative;
        background-color: rgba(black,0.1);

        p {
            font-size: rem(18);
        }
        
        p:last-of-type {
            margin-bottom: 0;
        }

        &:before {
            display: block;
            content: '';
            background-color: var(--color2);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 1rem;
        }
    }

    @media (prefers-color-scheme: dark){
        color: var(--body-color); 

        h2, h3, h4 {
            color: var(--midnight-blue);
        }
    }
}



.pagination {
    .svg-icon {
        margin: 0 1ch;
        fill: var(--color1);

        @media (prefers-color-scheme: dark){
            fill: white;
        }
    }
}