.site-footer {
    text-align: center;
    border-bottom: 1rem solid var(--color2);
    background-color: var(--color1);

    .site-footer-nav {
        margin: auto;
        display: inline-block;
    }

    .special-links {
        margin: 0;

        .svg-icon svg {
            fill: white;
        }

        @media (prefers-color-scheme: dark){
            a { color: var(--color3); }   
        }
    }

    @media (prefers-color-scheme: dark){
        background-color: var(--color4);
    }
}

