#site {
    display: flex;
    // min-height: 100vh;
    // border: 1rem var(--color1) solid;

    // @media (prefers-color-scheme: dark){
    //     border-color: var(--color2);   
    // }
}

.site-header {
    height: 100vh;
    padding: 2rem;

    background-color: var(--color1);
    
    background-image: url('https://res.cloudinary.com/stsmith/image/upload/c_scale,h_1200/v1598841342/sts/forest-day.jpg');
    background-size: cover;
    background-position: center center;

    @media (prefers-color-scheme: dark){
        background-image: url('https://res.cloudinary.com/stsmith/image/upload/c_scale,h_1200/v1598841342/sts/forest-night.jpg');
    }

    
}




.site-title {
    color: var(--seablue);
    margin: 3rem 0 3rem 0;
    font-family: Parkly;
    font-weight: normal;
    font-size: rem(72);

    @media (prefers-color-scheme: dark){
        color: var(--sand);   
    }
}


.page-title {
    border-bottom: 1rem solid var(--color2);
    color: var(--color1);
    font-weight: normal;
    margin: 0 0 3rem 0;
}