.site-header {
    color: white;
    border-top: 1rem solid var(--color2);
    background-color: var(--color1);

    @media (prefers-color-scheme: dark){
        background-color: var(--color4);
    }
}


.site-title {
    display: block;
}


.page-title {
    color: white;
    background-color: var(--color1);

    @media (prefers-color-scheme: dark){
        background-color: var(--color4);

        a {
            color: var(--color3);
        }
    }
}