.site-header {
    color: white;
    border-top: 1rem solid var(--color2);
    background-color: var(--color1);

    position: sticky;
    top: 0;
}


.site-title {
    display: block;
}


.page-title {
    color: white;
    background-color: var(--color1);

    --link-color: var(--bright-gold);
}