

.icon-grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        padding: 0.5rem;
        margin: 0;
        flex: 0 0 auto;
        display: block;
    }


}

.featured-grid {
    display: grid;
    grid-template-columns: minmax(auto, 400px);
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 3rem 0;
    grid-gap: 3rem;

    @media (min-width: 768px){
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    @media (min-width: 1024px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    >li {
        padding: 0;
        margin: 0;
        position: relative;

        &::after {
            display: block;
            content: '';
            @include blue-waves-bg;
            position: absolute;
            bottom: -0.5rem;
            right: 0.5rem;
            left: 0.5rem;
            height: 100%;
        }
    }
}

.featured-grid-item {
    display: block;
    position: relative;
    z-index: 10;
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    >img {
        width: 100%;
        height: 100%;

        max-width: 400px;
        max-height: 400px;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;

        filter: grayscale(100%);
    }

    >header {
        background-color: var(--color2);
        display: inline-block;
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        line-height: 1.2em;
        
        padding: 0.5rem 1rem;
    }

    li:hover & {
        header { background-color: var(--highlight); }
        img { filter: grayscale(0); }
    }

    
   
    &::after {
        content: '';
        display: block;
        padding-top: 100%;
    }
    
}