.page-home {
    @media (min-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;       
    }
}

.home-section {
    @media (min-width: 768px){
        justify-content: center;
    }
}

.home-col-content {
    order: 2;

    h1 {
        color: var(--color1);
        font-size: rem(40);
        margin: 0 0 0.5rem 0;
    }


    @media (min-width: 768px){
        h1 { font-size: rem(48); }
    }
}

.home-col-image {
    order: 1;

    @media (min-width: 768px){
        width: auto;
    }
}

.home-icons {
    order: 3;
}