.page-home {
    @media (min-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;       
    }
}

.home-section {

    text-align: center;

    h1 {
        color: var(--color1);
    }

    h2 {
        margin-top: 6rem;
    }
}