

.home-intro {
    background-color: var(--color1);
    color: white;
    text-align: center;

    .home-title {
        h1 {
            color: white;
        }
    }

    .home-content {
        background-color: var(--sand);


    }


}