.site-nav-list {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

    >li {
        padding: 0;
        margin: 0;

        >a {
            display: block;
            font-family: var(--primary-font);
            font-weight: normal;
            font-size: rem(30);
            color: var(--color2);
            padding: 0.5rem 0;
            line-height: 1;

            &:hover {
                color: var(--color1);
                text-decoration: none;
            }

            @media (prefers-color-scheme: dark){
                &:hover {
                    color: var(--bright-gold);
                }
            }
        }
    }
}


.special-links {
    list-style: none;
    padding: 0;
    margin: 0 -1rem;
    display: flex;
    flex-wrap: wrap;

    > li {
        padding: 0;
        margin: 0;
        flex: 1 1 50%;
        text-align: center;

        > a {
            display: inline-block;
            font-size: rem(13);
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 1rem;
            line-height: 1;
            margin: auto;
            text-decoration: none;

            &:hover {
                background-color: var(--seablue);
                color: white;
            }

            svg {
                margin: 0 auto 0.5rem auto;
                fill: white;
            }

        }
    }

    @media (min-width: 768px){
        > li {
            flex: 1 1 auto;
        }
    }
}