<section class="row padding-bottom-2">
	<div class="col-s-8">
		<h1 class="margin-bottom-1">Scott Smith</h1>
		<p class="intro">My name is Scott Smith. I am web developer for California Lutheran University that specializes in front-end development and user experience design.</p>
		<a href="portfolio" class="btn">View Portfolio</a>
	</div>

	<div class="col-s-4 aligncenter">
		<img src="{{ settings.profileImage }}?nf_resize=fit&w=200&h=200" class="profile-image" />
	</div>
</section>