<nav class="journal__nav">
    <ul class="journal__navList">
        <li>
            <a href="/journal" class="btn">Latest Posts</a>
        </li>
        <li>
            <a href="/feed.xml" class="btn-icon">
                <div class="icon">{% include 'svg-icons/rss.svg' %}</div>RSS Feed
            </a>
        </li>
    </ul>
</nav>