<nav class="pagination">
	{% if pagination.nextPageHref %}
	<a href="{{ pagination.nextPageHref }}" class="pagination__btnOlder btn">Older Posts</a>
	{% endif %}

	{% if pagination.previousPageHref %}
	<a href="{{ pagination.previousPageHref }}" class="pagination__btnNewer btn">Newer Posts</a>
	{% endif %}
</nav>