<nav class="pagination row row-spaced margin-x-1">
	{% if pagination.nextPageHref %}
	<a href="{{ pagination.nextPageHref }}">{% icon 'icon-arrow-left','icon-size-1 icon-inline' %}Older Posts</a>
	{% endif %}

	{% if pagination.previousPageHref %}
	<a href="{{ pagination.previousPageHref }}">Newer Posts{% icon 'icon-arrow-right','icon-size-1 icon-inline' %}</a>
	{% endif %}
</nav>