<header class="col-s-3 site-header">

	{# <div class="decorative-header-image" role="none"></div> #}

	<h1 class="site-title">{{ settings.siteName }}</h1>

	{% include "partials/site-nav.njk"  %}

</header>