<header class="col-m-3 site-header">

	<h1 class="site-title">{{ settings.siteName }}</h1>

	{% include "partials/site-nav.njk"  %}

	{% include "partials/social-media-list.njk" %}

	<theme-switch></theme-switch>

</header>